# 编译中间文件和临时文件
**/*.bak
**/*.ddk
**/*.edk
**/*.lst
**/*.lnp
**/*.mpf
**/*.mpj
**/*.obj
**/*.omf
**/*.plg
**/*.rpt
**/*.tmp
**/*.__i
**/*.crf
**/*.o
**/*.d
**/*.axf
**/*.tra
**/*.dep
**/*.iex
**/*.htm
**/*.sct
**/*.map
**/*.dbgconf
**/*.Administrator
**/*.uvguix.Peaceful_World_TOP
__pycache__

# 特定日志文件
JLinkLog.txt

# 自定义
ESTest_A1/MutaTest/Answer
Lab_class/*.docx
Lab_class/old